.f {
    font-size: 2rem;
    color: white;
  }
  .g {
    padding: 0 3px;
    background-color: red;
    color: white;
    font-weight: bolx;
    border-radius: 5px;
    position: relative;
    top: -15px;
  }